<!DOCTYPE html>
<html>
<head>
    <title>Profiel Page</title>
</head>
<body>
    <h1>It is profile page</h1>
    <h2>Name: <%=user.name%></h2>
    <h2>Branch: <%=user.branch%></h2>
    <h2>College: <%=user.college%></h2>
</body>
</html>